<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel='stylesheet' href='/stylesheets/app.css' />
  </head>
  <body>
    <div id="container">
        <h1>Contact Manager</h1>
        <nav><a href="#!/list">List</a> - <a href="#!/add">Add</a> - <a href="#!/update">Update</a></nav>
        <div id="app"></div>
    </div>
    <script data-main="/javascripts/app/main" src="/javascripts/vendor/requirejs/require.js"></script>
  </body>
</html>