<div>
	<ul data-bind="with: contact">
		<li class="cell10">
			<div>First Name</div>
			<div><input id="first-name" data-bind="value: firstName"/></div>
		</li>
		<li class="cell10">
			<div>Last Name</div>
			<div><input id="last-name" data-bind="value: lastName" /></div>
		</li>
		<li class="cell10">
			<div>Phone</div>
			<div><input id="phone" data-bind="value: phone" /></div>
		</li>
		<li class="cell10">
			<div>Email</div>
			<div><input id="email" data-bind="value: email" /></div>
		</li>
		<div class="clear"></div>
	</ul>	

	<ul data-bind="with: contact">
		<li class="cell10">
			<div>Street</div>
			<div><input id="street" data-bind="value: street" /></div>
		</li>
		<li class="cell10">
			<div>City</div>
			<div><input id="city" data-bind="value: city" /></div>
		</li>
		<li class="cell10">
			<div>State</div>
			<div><input id="state" data-bind="value: state" /></div>
		</li>
		<li class="cell10">
			<div>Zip</div>
			<div><input id="zip" data-bind="value: zip" /></div>
		</li>
		<div class="clear"></div>
	</ul>
	<button id="add" data-bind="click: addContact">Add Contact</button>
</div>